<br>
<% @grams.each do |gram| %>
  <div class="row user-header">
    <div class="valign-wrapper col s12">
      <i class="material-icons">account_circle</i>
      <span class="username">
        <b><%= gram.user.email %></b>
      </span>
    </div>
  </div>
  <%= link_to gram_path(gram) do %>
    <%= image_tag gram.image, class: 'responsive-img' %>
  <% end %>

  <div class="valign-wrapper">
    <span><b><%= gram.user.email %></b>&nbsp;<%= gram.caption %></span>
  </div>

  <div class="comments">
    <% if gram.comments.count > 2 %>
      <%= link_to gram_path(gram) do %>
        <span class="view-all-comments">View all <%= gram.comments.count %> comments</span>
      <% end %>
    <% end %>
    <% gram.comments.order(:created_at).last(2).each do |comment| %>
      <div>
        <b><%= comment.user.email %></b>
        <%= comment.comment %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
