<div class="row user-header">
  <div class="col s10 m11 valign-wrapper">
    <i class="material-icons">account_circle</i>
    <span class="username">
      <%= current_gram.user.email %>
    </span>
  </div>

  <div class="col s2 m1 valign-wrapper">
    <% if current_user == current_gram.user %>
      <%= link_to  edit_gram_path(current_gram) do %>
        <i class="material-icons right deep-orange-text text-accent-2">edit</i>
      <% end %>
    <% end %>
  </div>

</div>

<div>
  <%= image_tag current_gram.image, class: 'responsive-img' %>
</div>

<div class="comments-list">
  <% current_gram.comments.each do |comment| %>
    <div class="row comment valign-wrapper">
      <div class="col s1">
        <i class="material-icons valign">account_circle</i>
      </div>
      <div class="col s11">
        <b><%= comment.user.email %></b>
        <br>
        <%= comment.comment %>
      </div>
    </div>
  <% end %>
</div>

<div class="new-comment">
  <%= simple_form_for @comment, url: gram_comments_path(current_gram) do |f| %>
    <div class="row valign-wrapper">
      <div class="col s1">

      </div>
      <div class="col s8">
        <%= f.input :comment, label: false, placeholder: 'Add a comment...', input_html: {class: "materialize-textarea"} %>
      </div>
      <div class="col s3">
        <%= f.button :button, "Post", class: "waves-effect waves-light btn btn-flat deep-orange-text text-accent-2 right" %>
      </div>
    </div>
  <% end %>
</div>
