<!DOCTYPE html>
<html>
<head>
  <title>Pixify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper container">
    <%= link_to "Pixify", root_path, class: "brand-logo" %>
    <a data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render partial: "layouts/navlinks" %>
    </ul>
    <ul id="mobile-nav" class="side-nav">
      <%= render partial: "layouts/navlinks" %>
    </ul>
  </div>
</nav>

<main class="container">
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%= yield %>
</main>


</body>
</html>
